*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}   

body{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}
.linha{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.main{
    background-color: white;
    display: flex;
    width: 60%;
    height: 80vh;
    border-radius: 12px;
}

.title{
    display: flex;
    width: 90%;
    justify-content: flex-start;
}

.title h1{
    margin-left: 2%; 
    font-size: 15pt;
}

.titleInfo{
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.titleInfo h1{
    margin-left: 2%; 
    font-size: 15pt;    
}

.desc{
        font-size: 9.5pt;
        font-weight: 300;
        color: #7d7d7d;
        margin-top: 2px;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
}


i{  
    font-size: 17pt;
}

img{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    margin-top: 10px;

}

.imgContainerEdit{
    display: flex;
    gap: 20px;
    width: 90%;
}

.botoesImg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 5px;
}

.botoesImg button{
    width: 120px;
    padding: 12px 10px;
    background-color: transparent;
    border:2px solid #00c9e9 ;
    border-radius: 4px;
    margin-bottom: 10px;
    color: #00c9e9;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botoesImg button i{
    margin-right: 5px;  
    font-size: 12pt;
}

.inputsCont{
    display: flex;
    gap: 2rem;
    width: 100%;
}

.inputsGrupos{
    width: 100%;

}


label{
    font-weight: 600;
    font-size: 9.5pt;

}

input{
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid #d9d9d9;
}

.inputForm{
    margin-top: 10px;
}

.inputForm input::placeholder{
    font-size: 8.5pt;
    font-weight: 600;
    color: #bbbbbb;

}


.btnsSalvar button:first-child{
    width: 100px;
    padding: 15px 10px;
    background-color: transparent;
    border:2px solid #00c9e9 ;
    border-radius: 4px;
    margin-bottom: 10px;
    color: #00c9e9;
    font-weight: 600;
    
}
.btnsSalvar button:last-child{
    width: 100px;
    padding: 10px 10px;
    background-color: #00c9e9;
    border-radius: 4px;
    margin-bottom: 10px;
    color: white;
    font-weight: 600;
    border: 2px solid #00c9e9;
}

#urlDaFoto{
    display: none;
}


.botaoFotoPerfil{
    width: 120px;
    padding: 12px 10px;
    background-color: transparent;
    border:2px solid #00c9e9 ;
    border-radius: 4px;
    margin-bottom: 10px;
    color: #00c9e9;
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;

}

.botaoFotoPerfil i{
    margin-right: 5px;  
    font-size: 12pt;
}




