* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #f1f1f1;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1,
h2 {
    color: black;
    text-align: center;
}

h3 {
    color: #00aaff; /* Azul claro */
}

.menu-lateral {
    position: fixed;
    background: #f4f4f4;
    width: 15vw;
    min-height: 100vh;
    box-shadow: 1px 1px 1px 0 rgba(53, 51, 51, 0.207), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease; /* Transição suave */
    border-radius: 15px;
}

.menu-lateral .brand-name {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center; 

}

#logo{
    width: 90%;
}
.menu-lateral li, 
.menu-lateral li span {
    font-size: 24px;
    padding: 5px 10px;
    color: #000;
    display: flex;
    transition: 0.5s ease; /* Transição suave para o hover */
}

.menu-lateral li:hover, 
.menu-lateral li span:hover {
    background: transparent; /* Fundo mais escuro ao passar o mouse */
    color: #00aaff; /* Azul claro */
    cursor: pointer;
}

.menu-lateral li:active, 
.menu-lateral li span:active {
    transform: scale(0.95); /* Efeito de clique */
}


#icons {
 
    font-size: 35px;
    color: #00aaff;
    
}



#icons-card {
    font-size: 60px;
}

/* Estilos para os ícones */
.menu-lateral li  {
    color: #00aaff; /* Azul claro */
    margin-right: 10px; /* Espaçamento à direita do ícone */
}

.menu-lateral li i {
    color: #00aaff; /* Azul claro */
    margin-right: 10px; /* Espaçamento à direita do ícone */
}

.container {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
}

.container .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: transparent;
    display: flex;
    margin-top: 20px;
}

.container .header .nav {
    width: 20%;
    display: flex;
    align-items: center;
    margin-left: 900px;
}

.container .header .nav .buscar {
    flex: 3;
    display: flex;
    align-items: center;
}

.container .header .nav .buscar input[type=text] {
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.207), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.usuario img {
    width: 40px; /* Ajuste o tamanho da imagem */
    height: 40px; /* Ajuste o tamanho da imagem */
    border-radius: 50%; /* Para torná-la redonda */
    margin-left: 10px; /* Espaçamento à esquerda */
}

#logout{
    color: #000;
    cursor: pointer;
    margin-top: 450px;
    font-size:35 ;
}

#logout:hover {
    background: #f4f4f4; /* Fundo mais escuro ao passar o mouse */
    color: #00aaff; /* Azul claro */
    cursor: pointer;
}

.container .content {
    position: relative;
    margin-top: 10vh;
    min-height: 80vh;
    margin-right: 100px;
}

.container .content .cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.container .content .cards .card {
    width: 260px;
    height: 150px;
    background: white;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.207), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
    gap: 30px;
}

.container .content .cards .card:hover {
    transform: translateY(-5px); /* Levanta o card */
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.207), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer; 
}


.container .content .content2 {
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    
}

.container .content .content2 .tabela-usuarios {
    min-height: 50vh;
    flex: 5;
    background: #fff;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.207), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;

}
/* Estilo para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden; /* Para manter o arredondamento */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

thead {
    background-color: #00aaff;
    color: white;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Bordas entre as linhas */
}

tbody tr:hover {
    background-color: #f5f5f5; /* Cor ao passar o mouse */
    transition: background-color 0.3s ease; /* Suavidade na transição */
}

th {
    background-color: #00aaff;
    color: white;
}

/* Estilo para os botões */
.btnStatus {
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Suavidade na transição */
}

#btnAtiva {
    background-color: #75db92;
    color: white;
}

#btnDesativa {
    background-color: #d77575;
    color: white;
}

#btnAtiva:hover {
    background-color: #5fb778; /* Cor de hover */
}

#btnDesativa:hover {
    background-color: #c75454; /* Cor de hover */
}

.statusDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px; /* Espaçamento entre os botões */
}


.statusDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 30px;
    width: 200px;
    margin-left: 10px;

}

@media screen and (max-width:1512px){
   
    .container .content .cards {
        padding: 20px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 800px;
        
    }
}

@media screen and (min-width:1512px){
   
    .container .content .cards .card {
        width: 250px;
        height: 150px;
        background: white;
        padding: 05px;
        margin: 20px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.207), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
        gap: 30px;
    }
}