* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/assets/img/backgroundLogin.png');
        background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.main-login {
    display: flex;
    width: 80%;
    height: 90%;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(194, 214, 218, 0.315) 5px 5px 50px 50px;
    overflow: hidden;
}
.imagem-cont {
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    background-color: #f7fdfc;
}

.imagem-cont img {
    width: 100%;
    height: 650px;
    object-fit: cover;
    border-radius: 8px;
}

.login-cont {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
}

label {
    font-size: 11.3pt;
    color: #3f3950;
    font-weight: 600;

}

.title-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15%;
}

.title-login span {
    color: #acacac;

}



.title-login h2 {
    font-size: 25pt;
    color: #3f3950;
    text-align: start;
}

.grupo-inputs {
    width: 100%;

}

.inputForm {
    margin-bottom: 20px;
}

.inputForm label {
    font-size: 14px;
    color: #666;
}

.inputText input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 5px;
}

.inputText input::placeholder {
    color: #d4d4d4;
    font-size: 9.9pt;
    font-weight: 600;

}

.button-login {
    width: 100%;

    margin-top: 5%;
}

.button-login button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background-color: #07beff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 1px;
    color: white;
    font-size: 12pt;
    font-weight: 600;

}

.button-login button:hover {
    background-color: #06abe7;
}

.footer-login {
    margin-top: 20px;
    font-size: 14px;
    color: #3f3950;
}

.footer-login a {
    color: #07beff;
    text-decoration: none;

}

.footer-login a:hover {
    text-decoration: underline;
}


.logo-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-bottom: 14%;


}

.logo-img img {
    width: 250px;


    object-fit: cover;

}

.lineCont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    gap: 5px;
}

.line {
    border: 1px solid #dbdbdb;
    width: 100%;
}

#ou {
    color: #c0c0c0;
}

.wave {
    position: absolute;
    width: 100%;
    height: 320px;
<<<<<<< HEAD
=======
    
  }

  .admin{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #06abe7;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .adminCont{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
>>>>>>> 07ef666b627290434fb86a3af22782f7bde3e5b9

}