*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";

}

body{
    overflow-x: hidden;
     background-color: #F5F5F5 !important; 
    
}

main{
    position: relative;
    top: 5.4rem;
    background-color: #f5f5f5;
    
}

main .container{
    display: grid;
    grid-template-columns: 10vw auto ;
    gap: 3rem;
    position: relative;
   
}

main .container .left{
    height: max-content;
    position: sticky;
    top: 5.4rem;
}

.menu-item{
    text-decoration: none;
}
.badge{
    margin-left: 5px;
    margin-bottom: 5px;
    

}

.profileImgSide{
    width:40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 19px;
}





.left .sidebar{
    margin-top: 1rem;
    background: white;
    border-radius: 1rem;
    box-shadow: rgba(194, 214, 218, 0.315) 0px 2px 5px 0px;
   position: absolute;
    width: 350px;
    right: 5%;
}

.left .sidebar .menu-item{
    display: flex;
    align-items: center;
    position: relative;
    height: 5rem;
    cursor: pointer;
    transition: all 300ms ease;
}

.left .sidebar .menu-item:hover{
    background-color:#eff3f6;
}

.left .sidebar i{
    font-size: 1.8rem;
    color: gray;
    margin-left: 2rem;
    position: relative;
}



.left .sidebar h3{
    margin-left: 1rem;
    font-size: 1.2rem;
    color: #3f3950;
    font-weight: 600;

}

.left .sidebar .active{
    background-color: #ebeff3;

}

.left.sidebar .active i,
.left .sidebar .active h3{
    color:  #07beff;
}

.left .sidebar .imgPerfilSide{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: start;

}

.left .sidebar .imgPerfilSide img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 1.5rem;
    position: relative;
    object-fit: cover;

}



.sidebarList{
  
    margin-bottom: 25%;

}

.btnCriar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #07beff;
    border: none;
    padding: 15px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 2%;
    width: 90%;
    border-radius: 23px;

}

.btnCriarCont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.left .sidebar .active::before{
    content: "";
    display: block;
    width: 0.5rem;
    height: 100%;
    position: absolute;
    background-color: #07beff;
}

.left .sidebar .menu-item:first-child.active{
    border-top-left-radius:1rem ;
    overflow: hidden;
}
.left .sidebar .menu-item:last-child.active{
    border-bottom-left-radius:1rem ;
    overflow: hidden;
}

.left .sidePerfilNames{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: 0.5rem;
    margin-bottom: 0;
    flex-direction: column;

}

.left .sidePerfilNames h3{
    margin: 0;
}

.left .sidePerfilNames span{
    color: #bebebe;
}



.containerTabela {
    width: 65vw;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: rgba(194, 214, 218, 0.315) 0px 2px 5px 0px;
}

.containerTabela h2{
    color: #3f3950;
    font-weight: 600;
    margin-bottom: 3%;

}

.headerTabela, .question-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 5px;
    cursor: pointer;
    
    box-shadow: rgba(188, 198, 201, 0.315) 0px 2px 5px 0px;
}

.headerTabela div, .question-row div {
    flex: 1.5; /* Define colunas de tamanho igual */
    text-align: center;
    padding: 0 0.5rem;
     /* Adiciona espaçamento horizontal */
}

.headerTabela div{
    font-size: 14pt;
    color: #3f3950;
    font-weight: 600;

}

.status{
    border-radius: 25px;
    background-color: transparent;
}

.status-ativo{
background-color: #e6fdda;
  border: 1px solid #3ad11b;
  color: #207905;
}

.status-respondido{
    background-color: #83d7f5;
      border: 1px solid #72bdd8;
      color: white;
    }
    

.status-desativado {
    background-color: #e49191;
/* Cor para status desativado */
    color: white;
    border: 1px solid #ff0000;
    color: rgb(122, 17, 17); /* Ajuste conforme necessário */
}

.headerTabela div:first-child, .question-row div:first-child {
    flex: 0.6; /* Aumenta a largura para a coluna de Data de Publicação */
    text-align: left;
}

.headerTabela div:nth-child(2), .question-row div:nth-child(2) {
    flex: 0.5; /* Aumenta a largura para a coluna de Conteúdo */
}

.headerTabela div:last-child, .question-row div:last-child {
    flex: 0.3; /* Define largura apropriada para a coluna de Operações */
    display: flex;
    justify-content: center;
}

.icons {
    display: flex;
    gap: 13px;
}
.icons i{
    font-size: 17pt;
    cursor: pointer;
    color: #3f3950;

}

.content-preview {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.containerTabela {
    max-height: 700px; /* Ajuste para definir a altura conforme necessário */
    overflow-y: auto; /* Habilita rolagem vertical no container */
}

/* Estilos adicionais opcionais */
.containerTabela::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

.containerTabela::-webkit-scrollbar-thumb {
    background-color: #cccccc; /* Cor da barra de rolagem */
    border-radius: 4px;
}

.containerTabela::-webkit-scrollbar-thumb:hover {
    background-color: #aaaaaa;
}

.containerTabela .sumarioCont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    margin-bottom: 2%;
}

.containerTabela .sumarioCont span{
    color: gray;

}

.containerTabela .sumarios .cor1{
    border: 1px solid #3ad11b;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #e6fdda;
}

.containerTabela .sumarios .cor2{
    border: 1px solid #ff0000;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #e98585;
}

.containerTabela .sumarios .cor3{
    border: 1px solid #07beff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #83d7f5;
}

.containerTabela .sumarios{
    display: flex;
    align-items: center;
    gap: 4px;

}

.delete-button{
    border: none;
    background-color: transparent;

}

.cardsCont{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1%;
}

.cardsPosta{
    background-color: white;
    padding: 20px 30px;
    width: 330px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(194, 214, 218, 0.315) 0px 2px 5px 0px;
    border-radius: 7px;
    border: none;

}
.cardsPosta i{
    font-size: 40pt;
    color: #3f3950;
}

.cardPosta{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.cardPosta span{
    font-size: 12pt;
    margin: 0;
    color: #bebebe;

}

.cardPosta h2{
    font-weight: 600;
    font-size: 35pt;
    color: #3f3950;

}

.active2{

    border-bottom: #07beff solid 10px;
}

.imagemLittle {
    width: 60px; /* Largura desejada */
    max-width: 72px;
    overflow: hidden; /* Garante que o conteúdo fora da área seja cortado */


}

.imagemLittle img {
    width: 100%; /* Preenche o contêiner na largura */
    /* height: 100%;  */
    object-fit: cover; /* Garante que a imagem seja cortada proporcionalmente */
    object-position: top; /* Centraliza a parte visível da imagem */
}