
/* NAVBAR ----------------------------------------------------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";

}

body{
    overflow-x: hidden;
     background-color: #F5F5F5 !important; 
    
}

main{
    position: relative;
    top: 5.4rem;
    background-color: #f5f5f5;
    
}

main .container{
    display: grid;
    grid-template-columns: 10vw 40vw 20vw;
    gap: 3rem;
    position: relative;
   
}

main .container .left{
    height: max-content;
    position: sticky;
    top: 5.4rem;
}

.menu-item{
    text-decoration: none;
}

.profileImgSide{
    width:40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 19px;
}





.left .sidebar{
    margin-top: 1rem;
    background: white;
    border-radius: 1rem;
    box-shadow: rgba(194, 214, 218, 0.315) 0px 2px 5px 0px;
   position: absolute;
    width: 350px;
    right: 5%;
}

.left .sidebar .menu-item{
    display: flex;
    align-items: center;
    position: relative;
    height: 5rem;
    cursor: pointer;
    transition: all 300ms ease;
}

.left .sidebar .menu-item:hover{
    background-color:#eff3f6;
}

.left .sidebar i{
    font-size: 1.8rem;
    color: gray;
    margin-left: 2rem;
    position: relative;
}



.left .sidebar h3{
    margin-left: 1rem;
    font-size: 1.2rem;
    color: #3f3950;
    font-weight: 600;

}

.left .sidebar .active{
    background-color: #ebeff3;

}

.left.sidebar .active i,
.left .sidebar .active h3{
    color:  #07beff;
}

.left .sidebar .imgPerfilSide{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: start;

}

.left .sidebar .imgPerfilSide img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 1.5rem;
    position: relative;
    object-fit: cover;

}



.sidebarList{
  
    margin-bottom: 25%;

}

.btnCriar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #07beff;
    border: none;
    padding: 15px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 2%;
    width: 90%;
    border-radius: 23px;

}

.btnCriarCont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.left .sidebar .active::before{
    content: "";
    display: block;
    width: 0.5rem;
    height: 100%;
    position: absolute;
    background-color: #07beff;
}

.left .sidebar .menu-item:first-child.active{
    border-top-left-radius:1rem ;
    overflow: hidden;
}
.left .sidebar .menu-item:last-child.active{
    border-bottom-left-radius:1rem ;
    overflow: hidden;
}

.left .sidePerfilNames{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: 0.5rem;
    margin-bottom: 0;
    flex-direction: column;

}

.left .sidePerfilNames h3{
    margin: 0;
}

.left .sidePerfilNames span{
    color: #bebebe;
}


/*-------------- Perfil--------- */

.meio .perfilContainer {
    background: white;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
    box-shadow: rgba(116, 116, 116, 0.315) 0px 2px 5px 0px;
}



.fundo{
    width: 100%;
    height: 200px;
}

#banner{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#icon{
    position: absolute;
    top: 150px;
    width: 13%;
    margin-left: 2%;
    height: auto;
    border: 3px solid white;

}

.rowEditarPerfil {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}

.username {
    font-size: 2.5rem; /* Tamanho da fonte */
    color: #333; /* Cor do texto */
    font-weight: bold; /* Negrito */
 
}

.arroba {
    font-size: 1.0rem; /* Tamanho da fonte */
    color: #8a8a8a; /* Cor do texto */
    font-weight: bold; /* Negrito */
 
}
.infoContainer {
    padding: 10px;
}
.bio{
    width: 400px; /* Defina a largura desejada */
    max-height: 110px; /* Limite de altura */
    padding: 10px;
    overflow-wrap: break-word; /* Permite quebra de palavras longas */
    overflow: hidden; /* Oculta o conteúdo que excede a altura */
    text-overflow: ellipsis; /* Adiciona reticências se o texto exceder */
    display: -webkit-box; /* Para usar com -webkit-line-clamp */
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 5; /* Número de linhas a exibir */
    
}

.bio p{
    font-size: 16px; /* Tamanho da fonte */
    color: #14171a; 
}

.footerPerfil{
    display: flex;
    flex-direction: row;
    align-items: flex-start;}
