*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   font-family: 'Roboto';
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastroCont{
   align-items: center;
   width: 50%;
    padding:40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cadastroCont-2{
    align-items: center;
    width: 35%;
     padding:40px;
     display: flex;
     justify-content: center;
     flex-direction: column;
}

.main{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: white;
    align-items: center;
    justify-content: center;
   
    border-radius: 10px;
    overflow: hidden;
}

.imgDireita{
    flex: 1;
    background-color: #e6f2ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h2{
    font-size: 15pt;
}

.logo{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 5%;
    
}
.logo i{
    color: #00c9e9;
    font-size: 25pt;
    margin-right: 5px;
    margin-bottom: 5px;

}

#logo{
    width: 180px;
    height: auto;

}

.tituloCadastro h1{
    font-size: 19pt;
    font-weight: 600;

}

.tituloCadastro p{
    color: #a9a9a9;
    font-size: 10.5pt;
}

.grupo-inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.inputForm input{
    width: 80%;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid #d9d9d9;

}

.inputForm input::placeholder{
    font-size: 9pt;
    font-weight: 600;
    color: #bbbbbb;

}

.inputForm label{
    font-weight: 600;
    font-size: 10.5pt;

}

form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 80%;
    position: relative;
}

.imgDireita img{
    position: absolute;
    top: 0;
  left: 45%;
  width: 50%;
  z-index: 1;

}

.extraTitle h1{
    font-size: 15pt;
    font-weight: 600;
}

.extraTitle p{
    font-size: 10.5pt;
    color: #a9a9a9;
}

.botaoContinuar{
    padding: 14px 7px;
    border:none;
    width: 90%;
    border-radius: 7px;
    font-size: 12pt;
    color: white;
    font-weight: 600;
    background-color: #00c9e9;

}

.divider{
    width: 80%;
    height: 1px;
    background-color: #ebebeb;

}


.botoesMain {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

/* Oculta os radio buttons */
.botoesMain input[type="radio"] {
    display: none;
}

/* Estiliza o label que serve como botão */
.botoesMain label {
    padding: 10px 20px;
    border: 2px solid #d9d9d9;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.3s ease;
}

/* Aplica estilo ao label quando o botão de rádio correspondente é selecionado */
.botoesMain input[type="radio"]:checked + label {
    border-color: #00c9e9;
    background-color: #ebf8fa;
}

/* Efeito hover para os labels */
.botoesMain label:hover {
    border-color: #a9a9a9;
}

/* Foco no botão selecionado (opcional) */

.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: none;
}

.invalid-feedback {
    display: none;
}

.was-validated .form-control:invalid {
    border-color: #dc3545;
}

.was-validated .form-control:valid {
    border-color: #28a745;
}

.was-validated .invalid-feedback {
    display: block;
}


.fotoPerfilTitle p{
    color: #a9a9a9;
    font-size: 10.5pt;

}

#titleFoto{
    font-size: 18pt;
    font-weight: 600;
}


.botaoFotoPerfil{
    background-color:transparent;
    padding: 5px;
    border: 2px solid #00c9e9;
    margin-bottom: 10px;
    font-weight: 600;
    color: #00c9e9;
    border-radius: 5px;

}



#urlDaFoto{
    display: none;
}

#imagePreview {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    margin-top: 10px;
}

nav{
    width: 100%;
    background-color: #fff;
    padding: 23px 10%;
    box-shadow: 5px 5px 5px 1px #0e0e0e0a;
}

.titleNav span{
    font-size: 22pt;
}

.titleNav{
    display: flex;
    align-items: center;
    justify-content: center;
}


.navBar{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}

.botaoLoginNav{
    padding: 10px 30px;
    border:none;

    border-radius: 7px;
    font-size: 12pt;
    color: white;
    font-weight: 600;
    background-color: #00c9e9;
}

.headerLogo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

}

/* Resposivisação  =============================================================*/
@media screen and (max-width: 848px){
    .main{
        height: 100vh;
        width: 100%;
    }

    .cadastroCont{
        width: 90%;

    }

    .cadastroCont-2{
        width: 90%;
        
    }
    
}

@media screen and (max-width: 497px){
    

    .main{
        height: 100vh;
        width: 100%;
    }

    .cadastroCont, .cadastroCont-2{
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;                
    }

    .inputForm input{
        width: 100%;
        
        
    }

    .grupo-inputs input{
        width: 100%;
        
    }

    

    .inputText{
        width: 100%;

    }

    .moduloContainer{
        width: 100%;

    }
    
}


